{% extends 'music/detail-base.html' %}
{% block albums_active %}active{% endblock %}


<!-- Right Song Info -->
{% block detail_body %}

<h3>{{ header_text }}</h3>

{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% include 'music/form-template.html' %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success">Submit</button>
			<button type="reset" class="btn btn-warning">Reset</button>
		</div>
	</div>
</form>

{% endblock%}