{% extends 'music/detail-base.html' %}
{% block albums_active %}active{% endblock %}
{% block view_all_active %}active{% endblock %}

<!-- Right Song Info -->
{% block detail_body %}
	
<h3>{{ header_text }}</h3>
{% if error_message %}
	<p><strong>{{ error_message }}</strong></p>
{% endif %}

<table class="table">
	<thead>
		<tr>
			<td>Track #</td>
			<td>Title</td>
			<td>Favorite</td>
			<td>Audio File</td>
			<td>Edit</td>
			<td>Actions</td>
		</tr>
	</thead>
	<tbody>
		{% for song in album.song_set.all %}
			<tr>
				<td>{{ song.track_number }}</td>
				<td>{{ song.title }}</td>
				<td>
					<!-- url was { % url 'music:favorite' song.id % } -->
					<a href="#" class="btn-favorite">
						<span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span>
					</a>
				</td>
				<td>
					<a target="_blank" href="{{ song.audio_file.url }}">
						<button type="button" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-play"> Play</span>
						</button>
					</a>
				</td>
				<td>
					<a href="{% url 'music:song-update' pk=album.id song_id=song.id %}">
						<button type="button" class="btn btn-warning btn-xs">
							<span class="glyphicon glyphicon-pencil"> Edit</span>
						</button>
					</a>
				</td>
				<td>
					<form action="{% url 'music:song-delete' pk=album.id song_id=song.id %}" method="post" style="display:inline;">
						{% csrf_token %}
						<button type="submit" class="btn btn-danger btn-xs">
							<span class="glyphicon glyphicon-remove"> Delete</span>
						</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}


