{% extends 'music/base.html' %}
{% block songs_active %}active{% endblock %}

{% block body %}
<div class="albums-container container-fluid">

	<!-- Songs -->
	<div class="row">

		<div class="col-sm-12">
			<h3>{{ user.username }}'s Songs</h3>
		</div>

		<div class="col-sm-8 col-md-9">
			{% if all_songs %}
			<ul>
				{% for song in all_songs %}
				<li><b>{{ song.album.artist }}</b> - <i>{{ song.album.title }}</i> - {{ song.title }}</li>
				{% endfor %}
			</ul>

			{% else %}
			<p>No songs have been added.</p>
			
			{% endif %}
		</div>

	</div>



</div>
{% endblock %}