/* These were present in the tutorial */
body {
	background: white url('images/background.jpg');
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
}


/* The rest of these were added from the repo. */
ul.errorlist {
	padding-left: 0px;
}

ul.errorlist > li {
	list-style:none;
}

.glyphicon-star {
	color: #CCCCCC;
}

.glyphicon-star.active {
	color: #FDB230;
}


/* My custom styling */
.album-info {
	text-align: center;
}

.album-cover {
}

/* Because this is really a form button and was trying to match it with links */
.edit-album-info-btn {
	line-height: 27px;
}

ul li a.btn-default {

}

thead {
	font-weight: bold;
}